.tagline {
    display: inline-block;
    color: darkblue;
    weight: 900;
    font-size: 26px;

}

.logo {
    width: 100px;
}

.header {
    grid-area: h;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.loginBlock{
    border: 1px solid darkblue;
    display: flex;
    align-items: center;
    color: darkblue;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 50%;
}
